---
layout : layouts/base.njk
---

	<!-- Intro -->
	<section class="intro">
		<header>
			<h1>
				<a href="{{ data.product }}">{{ data.app_title }}</a>
			</h1>
			<p>
				Pensiune turistica din zona Lepsa, deschisa tot timpul anului. 
			</p>
			<ul class="actions">
				<li><a href="#first" class="arrow scrolly"><span class="label">Mai Mult</span></a></li>
			</ul>
		</header>
		<div class="content">
			<span class="image fill" data-position="center"><img src="images/pic01.jpg" alt="" /></span>
		</div>
	</section>

	<!-- Section -->
	<section id="first">
		<header>
			<h2>
				Descriere
			</h2>
		</header>
		<div class="content">
			<p>
				<strong>Pensiunea Barlogul Ursilor</strong> este singura locatie din Lepsa de unde se pot admira culmile ce alcatuiesc Capul lui Decebal si o panorama unica a muntilor Vrancei.
				<strong>Vila este destinata iubitorilor de natura</strong>, nu are vecinatati si se ajunge de la sosea pe un drum forestier accesibil oricarui mijloc auto. 
			</p>
			
			<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
		</div>
	</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Servicii 
						</h2>
					</header>
					<div class="content">
						<p>
							Pensiune este asezata in natura salbatica a muntilor Vrancei, drumul neasfaltat este tributul frumusetii si naturii pure.
							Ce va mai putem oferi: 
							<br />
							&bull; Gratar in curte &bull; Terasa &bull; Foisor &bull; Salon cu semineu 
						</p>
						<ul class="feature-icons">
							<li class="icon solid fa-envelope"> <a href="mailto:{{ data.email }}">{{ data.email }}</a></li>
							<li class="icon solid fa-phone"><a href="tel:{{ data.phone }}">{{ data.phone }}</a></li>
							<li class="icon solid fa-gift">Parcare Gratuita</li>
							<li class="icon solid fa-signal">WiFi Gratuit</li> 
						</ul>
						<p>
							<strong>Acceptam plata cu tichete de vacanta</strong>.
						</p>
					</div>
				</section>

